node_modules/
.env
*.log
dist/
text.txt
*.txt
# src/components/quickApplyModel.vue
# src/components/postJob.vue

src/components/navbarForEmployers.vue
# src/components/applicantDetails.vue

# src/views/seeker_profile/myProfile.vue